.circle01 {
	border-radius: 50%; 
	background: black;
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: Arial, verdana;
	-webkit-transition:all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
	position: absolute;
	
	background: -webkit-radial-gradient(30px 30px, circle, #222, #000);
	background: -moz-radial-gradient(30px 30px, circle, #222, #000);
	background: radial-gradient(30px 30px, circle, #222, #000);
	/*opacity: 0.90;*/
}

.text_circle {
	top: 40%;
	pointer-events: none;
	position: relative;
}


