.circle01 {
	border-radius: 50%; 
	background: black;
	text-align: center;
	color: white;
	font-size: 15px;
	font-family: Arial, verdana;
	-webkit-transition:all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
	position: absolute;
	background: -webkit-radial-gradient(30px 30px, circle, #222, #000);
	background: -moz-radial-gradient(30px 30px, circle, #222, #000);
	background: radial-gradient(30px 30px, circle, #222, #000);
	z-index: 10;
}

.circle_cover {
	border-radius: 50%;
	background: url(https://github.com/neoligero/Bubble_maker/blob/master/img/trans.png);
	background-repeat: repeat-x, repeat-y;
	-webkit-transition:all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
	position: absolute;
	z-index: 11;
}

.text_circle {
	top: 40%;
	pointer-events: none;
	position: relative;
	z-index: 9;
}